@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: 'Poppins', sans-serif;
}

.logo{
    background-image: url('../images/logo.png');
    width: 25rem;
    height: 25rem;
    border-radius: 100%;
} 

.image-left{
    background-image: url('../images/IMAGE.png');
}

.div-right{
    background-color: #334C7B;
}


.input{
    border-radius: 20px;
    background: rgba(255, 255, 255, 40%);
    border: none;
    color: #fff;
}

.input::placeholder{
    color: #fff;
}

.button-login{
    background:#3C6CA3;
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
}


/* VISTA AMENITIES */
.bg-amenitie{
    background: #334C7B;
}

/* .bg-table-amenitie{
    background-color:#6DA5CC;
} */

.bg-row-amenitie {
    background-color: #242B43;
    color: #fff;
}

.bg-title-table-amenitie{
    background-color: #242B43;
}

.h2-amenities{
    color: #fff;
}

.sub-title-amenitie{
    background-color: #fff;
    color: #1C1B31;
}

/* NAVBAR */
.bg-navbar{
    background-color: #242B43;
    color: #fff;
}

.sub-title-navbar{
    color: #fff;
}

.bg-header{
    background-color: #334C7B;
}

.bg-header-title{
    color: #fff;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}